<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NearMe</title>
    <link rel="stylesheet" text="text/css" href="../styles/maps.css">
</head>
<body>
   <!-- Navbar -->
   <header class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
    <nav class="container-fluid">
       <!-- Left elements -->
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Logo -->
          <a class="navbar-brand mt-2 mt-lg-0" href="#">
          <img
             src="../images/logo.png"
             height="50"
             alt="MDB Logo"
             />
          </a>
          <!-- Left links -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
             <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
             </li>
             <li class="nav-item">
                <a class="nav-link" href="/nearMe">Near Me</a>
             </li>
             <li class="nav-item">
                <a class="nav-link" href="/adminPage">Admin Page</a>
             </li>
          </ul>
       </div>
       <!-- Right elements -->
       <div class="d-flex align-items-center position-relative">
          <!-- Cart -->
          <a class="link-secondary me-3" href="#">
          <i class="fas fa-shopping-cart fa-2x"></i>
          </a>
          <!-- Avatar -->
          <div class="dropdown">
             <a class="dropdown-toggle d-flex align-items-center hidden-arrow link-secondary"
                href="#" id="navbarDropdownMenuAvatar" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
             <i class="fas fa-user-circle fa-2x"></i>
             </a>
             <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuAvatar" style="position: absolute; top: 100%; left: 0;">
                <li><a class="dropdown-item" href="#">My profile</a></li>
                <li><a class="dropdown-item" href="#">My orders</a></li>
                <li><a class="dropdown-item" href="#">Logout</a></li>
             </ul>
          </div>
       </div>
    </nav>
 </header>
    <div id="googleMap"></div>

   <script>
      // Make the coordinates globally accessible
      const res = await fetch('http://localhost/workouts')
      const workouts = await res.json()
      window.coordinates = workouts;
   </script>

   <script src="../js/maps.js"></script>

   <script loading=async src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.GOOGLE_MAPS_API_KEY %>&callback=generateMap"></script>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</html>