<!doctype html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
      <link rel="stylesheet" href="/styles/cart.css">
      <title>AppApp Cart</title>
   </head>
   <body>
    <div class="shopping-cart">
        <h2><% customer.username %></h2>
        <div class="title"> <% customer.firstName %> Shopping Cart </div>
       
        <!-- Products -->
        <div class="item">
        <span class="delete-btn">
            <button><i class="bi bi-x-lg"></i></button>
        </span>
       
          <div class="image">
            <img src="item-1.png" alt="" />
          </div>
       
          <div class="description">
            <span>Common Projects</span>
            <span>Bball High</span>
            <span>White</span>
          </div>
       
          <div class="quantity">
            <button class="plus-btn" type="button" name="button">
                <i class="bi bi-plus-lg"></i>
            </button>
            <input type="text" name="name" value="1">
            <button class="minus-btn" type="button" name="button">
                <i class="bi bi-dash-lg"></i>
            </button>
          </div>
          <div class="total-price">$549</div>
        </div>
      </div>
   </body>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</html>