<!doctype html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
      <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
      <link rel="stylesheet" href="/styles/homepage.css">
      <link rel="stylesheet" href="/styles/header-footer.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
      <title>AppApp Workout</title>
   </head>
   <body>
      <!-- Navbar -->
      <header class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
         <nav class="container-fluid">
            <!-- Left elements -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <!-- Logo -->
               <a class="navbar-brand mt-2 mt-lg-0" href="#">
               <img
                  src="/images/logo.png"
                  height="50"
                  alt="MDB Logo"
                  />
               </a>
               <!-- Left links -->
               <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                     <a class="nav-link" href="/home">Home</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/nearme">Near Me</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#">Gal</a>
                  </li>
               </ul>
            </div>
            <!-- Right elements -->
            <div class="d-flex align-items-center position-relative">
               <!-- Cart -->
               <a class="link-secondary me-3" href="#">
               <i class="fas fa-shopping-cart fa-2x"></i>
               </a>
               <!-- Avatar -->
               <div class="dropdown">
                  <a class="dropdown-toggle d-flex align-items-center hidden-arrow link-secondary"
                     href="#" id="navbarDropdownMenuAvatar" role="button"
                     data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fas fa-user-circle fa-2x"></i>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuAvatar" style="position: absolute; top: 100%; left: 0;">
                     <li><a class="dropdown-item" href="#">My profile</a></li>
                     <li><a class="dropdown-item" href="#">My orders</a></li>
                     <li><a class="dropdown-item" href="#">Logout</a></li>
                  </ul>
               </div>
            </div>
         </nav>
      </header>

      <!-- Welcome section -->
      <div class="jumbotron text-center">
         <h1>Welcome To Our AppApp Workouts Shop</h1>
         <p>
            Your go-to online shop for home fitness! Whether you're starting your
            fitness journey or stepping up your routine, we offer a wide range of
            workouts tailored to all levels and goals. Explore and order the perfect
            workout with ease. Start your wellness journey with AppApp Workouts
            today, where achieving your fitness goals is just a click away!
         </p>
      </div>

      <!-- Weather info-->
      <div class="weather">
         <p id="weather-info">Fetching weather information...</p>
      </div>

      <script src="js/weather.js"></script>

      <!-- Search -->
      <div class="search-container">
        <div class="input-group">
            <input type="search" id="search-input" class="form-control" placeholder="Search" />
            <button id="search-button" type="button" class="btn">
                <i class="fas fa-search"></i>   
            </button>
        </div>
      </div>

      <!-- Cards -->
      <div class="row row-cols-1 row-cols-md-5 g-4">
         <% workouts.forEach(function(workout) { %>
         <div class="col">
           <div class="card h-100">
             <img src="/images/<%= workout.image %>" class="card-img-top img-fluid" alt="Skyscrapers" />
             <div class="card-body">
               <h5 class="card-title"><%= workout.name %></h5>
               <p class="card-text"><%= workout.description %></p>
             </div>
             <div class="card-footer">
               <small class="text-muted"> <a href="#" class="btn">Buy</a></small>
             </div>
           </div>
         </div>
         <% }); %>
       </div>

      <!-- Footer -->
      <footer class="text-white text-center text-lg-start">
         <!-- Info -->
         <div id="first-footer" class="container p-4">
            <div class="row">
               <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                  <h5 class="text-uppercase">Talk To Us</h5>
                  <p>
                     Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste
                     atque ea quis molestias. Fugiat pariatur maxime quis culpa
                     corporis vitae repudiandae aliquam voluptatem veniam, est atque
                     cumque eum delectus sint!
                  </p>
               </div>
               <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                  <h5 class="text-uppercase">About Us</h5>
                  <p>
                     Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste
                     atque ea quis molestias. Fugiat pariatur maxime quis culpa
                     corporis vitae repudiandae aliquam voluptatem veniam, est atque
                     cumque eum delectus sint!
                  </p>
               </div>
            </div>
         </div>
         <!-- Copyright -->
         <div id="second-footer" class="text-center p-3">
            © 2024 Copyright: Us
         </div>
      </footer>
   </body>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</html>