<!DOCTYPE html>
<html>
<body>

<div id="googleMap" style="width:100%;height:400px;"></div>

<script src="js/maps.js"></script>
<!-- <script type="module" src="js/maps.js"></script> -->

<script loading=async src="https://maps.googleapis.com/maps/api/js?key=INSERT_API_KEY&callback=generateMap"></script>

</body>
</html>