<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Sign Up page</title>
        <link rel="stylesheet" type="text/css" href="styles/style.css">
    </head>
    <body>
        <div class="wrapper">
            <img src="images/background-workout.png" class="background-image" alt="background image">
            <div class="inner">
                <form action="">
                    <h3>Sign Up</h3>
                    <input type="text" placeholder="First Name" class="form-control">
                    <input type="text" placeholder="Last Name" class="form-control">
                    <input type="text" placeholder="Username" class="form-control">
                    <input type="text" placeholder="Email Address" class="form-control">
                    <select name="" id="" class="form-control">
                        <option value="" disabled selected>Gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
                    <label for="birthday">Date of Birth</label>
                    <input type="date" id="birthday" class="form-control">
                    <input type="password" placeholder="Password" class="form-control">
                    <input type="password" placeholder="Confirm Password" class="form-control">
                    <button>Sign Up
                    </button>
                </form>
            </div>
        </div>
    </body>
</html>