<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pie Chart of Female vs. Male</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link rel="stylesheet" text="text/css" href="../styles/charts.css">
</head>
<body>
    <div id="pie-chart"></div>
    
    <!-- Legend -->
    <div class="legend">
        <div class="legend-item">
            <div class="Female"></div>
            <span>Female</span>
        </div>
        <div class="legend-item">
            <div class="Male"></div>
            <span>Male</span>
        </div>
    </div>

    <script src="js/chart1.js"></script>
</body>
</html>
