<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NearMe</title>
    <link rel="stylesheet" text="text/css" href="../styles/maps.css">
</head>
<body>
    <div id="googleMap""></div>

    <script>
        // Make the coordinates globally accessible
        const workouts = <%- JSON.stringify(workouts) %>;
        window.coordinates = workouts;
    </script>

    <script src="js/maps.js"></script>

    <script loading=async src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.GOOGLE_MAPS_API_KEY %>&callback=generateMap"></script>
</body>
</html>