<!doctype html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
      <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
      <link rel="stylesheet" href="/styles/homepage.css">
      <link rel="stylesheet" href="/styles/header-footer.css">
      <title>AppApp Workout</title>
   </head>
   <body>

      <!-- Cards -->
      <div class="row row-cols-1 row-cols-md-5 g-4">
        <h4>found the workout</h4>
        <h5 class="card-title"><%= workout.name %></h5>
        <h5 class="card-title"><%= workout.description %></h5>
        <h5 class="card-title"><%= workout.location %></h5>
       </div>

      <!-- Footer -->
      <footer class="text-white text-center text-lg-start">
         <!-- Info -->
         <div id="first-footer" class="container p-4">
            <div class="row">
               <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
               </div>
            </div>
         </div>
      </footer>
   </body>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</html>