.legend {
    margin-left: 20px; /* Adjust margin as needed */
}
.legend-item {
    display: flex;
    align-items: center;
}
.legend-item span {
    margin-left: 5px; /* Adjust margin as needed */
}

.Female {
    width: 10px; 
    height: 10px; 
    background-color: #ff7f0e;
}

.Male {
    width: 10px;
    height: 10px;
    background-color: #1f77b4;
}