/* Navbar */
.navbar {
    background: linear-gradient(to right, #cf2f54, #ff6c8e);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1020;
    font-size: 1.5em;
}


.navbar-brand img {
    height: 50px; 
}

.nav-link {
    font-size: 16px; 
    padding: 8px 15px; 
}

.fas {
    color: rgba(0, 0, 0, .55);
    font-size: 1.5em;
}

.dropdown {
    position: static; 
}

.dropdown-toggle {
    cursor: pointer; 
}

.dropdown-menu {
    position: absolute;
    top: 100%; 
    right: 0; 
    left: auto; 
    transform: translateX(-50%); 
    z-index: 1050; 
    background-color: #ffffff; 
    border: 1px solid #ddd; 
    border-radius: 0.25rem; 
}

.dropdown-item {
    padding: 8px 20px;
}


@media (max-width: 991px) {
    .navbar {
        flex-direction: column; 
    }

    .dropdown-menu {
        right: 10px; 
        left: 10px; 
        width: calc(100% - 20px); 
    }
}

.dropdown-menu .dropdown-item {
    font-size: 18px; 
    padding: 12px 20px; 
}

.dropdown-menu {
    width: auto; 
    min-width: 200px; 
    border-radius: 0.375rem; 
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); 
}


/* Search */
.search-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
}
.input-group {
    width: 70%;
}
.form-control {
    font-size: 2rem;
}

#search-input {
    height: 50px;
    width: 50%;
}

#search-button {
    height: 50px;
    padding: 0 20px; 
}


/* Button for Serach and Buy */
.btn {
    background-color: #dc4c64;
    color: #fff;
    box-shadow: 0 4px 9px -4px #dc4c64;
}
.btn:hover {
    background-color: #c0435b; 
    color: #fff;
    box-shadow: 0 6px 12px -2px #c0435b; 
}
.btn:active {
    background-color: #af3a4f; 
    color: #fff;
    box-shadow: 0 2px 5px -1px #af3a4f; 
}
.btn:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(220, 76, 100, 0.5); 
}


/* Cards */
.card-img-top {
    height: 200px; 
    object-fit: cover; 
  }
.row {
    --mdb-gutter-x: 1.5rem;
    --mdb-gutter-y: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--mdb-gutter-y)* -1);
    margin-bottom: calc(var(--mdb-gutter-y)* 1);
    margin-right: calc(var(--mdb-gutter-x)* 5);
    margin-left: calc(var(--mdb-gutter-x)* 5);
}

  /* Footer */
  footer {
    padding-top: 20px;
    margin-top: 1%;
    background: linear-gradient(to right, #cf2f54, #ff6c8e);
}
  #second-footer {
    background-color: #cf2f54
  }
