body {
    font-family: Verdana;
}

.welcome {
    font-size: 15px;
}

#admin-button {
    display: none;
  }

.search-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
}
.input-group {
    width: 70%;
}
.form-control {
    font-size: 2rem;
}
.weather {
    font-size: 2rem;
    padding: 20px;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    width: 80%;
}
#search-input {
    height: 50px;
    width: 50%;
}

#search-button ,.dropdown-toggle {
    height: 50px;
    padding: 0 20px; 
}

.glyphicon {
    font-size: 18px; 
    justify-content: center;
    align-items: center;
}

#filterDropdown {
    margin-left: 10px;
}

.dropdown-item {
    position: relative;
}
.sub-options {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1000;
    min-width: 160px;
}
.dropdown-item:hover .sub-options {
    display: block;
}

.dropdown-item {
    position: relative;
}
.sub-options {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1000;
    min-width: 160px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}
.dropdown-item:hover .sub-options {
    display: block;
}
.sub-options li {
    list-style: none;
    padding: 5px 0;
}
.sub-options input[type="checkbox"] {
    margin-right: 10px;
}
.dropdown-item a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    transition: background-color 0.3s;
}
.dropdown-item a:hover {
    background-color: #f1f1f1;
}
.form-check-label {
    margin: 0;
    cursor: pointer;
}

/* Button for Serach and Buy */
.btn, #filterDropdown{
    background-color: #dc4c64;
    color: #fff;
    box-shadow: 0 4px 9px -4px #dc4c64;
}
.btn:hover, #filterDropdown:hover {
    background-color: #c0435b; 
    color: #fff;
    box-shadow: 0 6px 12px -2px #c0435b; 
}
.btn:active, #filterDropdown:active {
    background-color: #af3a4f; 
    color: #fff;
    box-shadow: 0 2px 5px -1px #af3a4f; 
}
.btn:focus, #filterDropdown:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(220, 76, 100, 0.5); 
}


/* Cards */
.card-img-top {
    height: 200px; 
    object-fit: cover; 
  }
  
.row {
    --mdb-gutter-x: 1.5rem;
    --mdb-gutter-y: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--mdb-gutter-y)* -1);
    margin-bottom: calc(var(--mdb-gutter-y)* 1);
    margin-right: calc(var(--mdb-gutter-x)* 5);
    margin-left: calc(var(--mdb-gutter-x)* 5);
}

.no-results {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20vh;
}

.no-results p {
    font-size: 2rem;
    text-align: center;
}