* {
    box-sizing: border-box;
}
   


.description {
    padding-top: 10px;
    margin-right: 60px;
    width: 115px;
}
   
.description span {
    display: block;
    font-size: 14px;
    color: #43484D;
    font-weight: 400;
}
   
.description span:first-child {
    margin-bottom: 5px;
}

.description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #86939E;
}

.image {
    width: 100px; 
    height: 100px;
    overflow: hidden;
    margin-right: 50px;
}

.image img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-bottom: 3px;
    margin: auto;
}

.total-price {
    width: 83px;
    padding-top: 27px;
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}
  
.item {
    padding: 20px 30px;
    height: 20vh;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}
